@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.trnasition-effect{
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

@keyframes modalPopUp {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  
  .modal-pop-up {
    animation: modalPopUp 0.2s ease-in-out;
  }
  

  /* CSS for custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(177, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 105);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
